.box{
    height: 100px;
    width: 100px;
    background-color: purple;
    margin: 10px;
    color: white;
    text-align: center;
    padding: 10px;
}

.row{
    display: flex;
    flex-direction: row-reverse;
}

.bt2{
    display: flex;
    flex-direction: row;
}

.bt3{
    display: flex;
    flex-direction: column;
}


.bt4{
    display: flex;
    flex-direction: column-reverse;
}